//declaring variables

$font: "Source Sans Pro", sans-serif;
$white: #ffffff;
$black: #000000;
$lightgrey: #989898;
$midgrey: #818181;
$darkgrey: #5a5a5a;
$darkergrey: #404040;
$lightorange: #ffa51d;
$midorange: #f18119;
$darkorange: #ff713b;
$lightred: #ff895d;
$red: #df4e13;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

//typography
body {
  margin: 0;
  font-family: $font;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  color: $white;
  strong {
    font-weight: 700;
  }
}

h1 + p {
  font-size: 2.1rem;
  font-weight: 700;
  color: $midorange;
  text-transform: uppercase;
  margin: 0;
}

.maindiv-top-stickywords,
button {
  font-family: $font;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.maindiv-top-stickywords {
  margin: 0;
  padding-top: 1em;
  font-size: 1rem;
  color: $midorange;
}

h2 {
  font-size: 2.1rem;
  color: $darkergrey;
  margin: 0;
}

h2 + p {
  font-size: 1.6rem;
  font-weight: 700;
  color: $midorange;
  text-transform: uppercase;
  margin-top: 0;
}

.formdiv-body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: $darkgrey;
}

input {
  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;
  color: $darkergrey;
}

button {
  color: $white;
}

.formdiv-privacy-note {
  font-size: 1rem;
  color: $lightgrey;
  line-height: 1.5;
}

//layout
.maindiv {
  background: url(/images/dark-ribs.jpg) $midgrey center;
  background-size: cover;
  padding: 0 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

h1,
h1 + p {
  order: 1;
}

.maindiv-top-stickywords {
  order: 0;
  border-top: 5px solid $lightorange;
  border-image: linear-gradient(to right, $darkorange, $lightred) 1;
}

.formdiv {
  padding: 2em 1em;
}

.maindiv > *,
.formdiv > * {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.bbqsignin {
  width: 80%;
  max-width: 300px;
}

input,
button {
  width: 100%;
  border-radius: 5px;
}

input {
  margin-bottom: 0.75em;
  padding: 0.25em;
  border: 1px solid $midgrey;
  transition: 0.5s ease;
  &:focus {
    transform: scale(1.1);
  }
}

button {
  outline: none;
  border: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to right, $darkorange, $lightred);
  transition: 0.5s ease;
  &:hover,
  &:focus {
    color: $black;
    transform: scale(1.1);
  }
}

/* media queries */

@media (min-width: 600px) {
  body {
    font-size: 1.8rem;
    display: flex;
  }

  h1 {
    font-size: 5.6rem;
  }

  h2,
  h1 + p {
    font-size: 2.8rem;
  }
  .maindiv,
  .formdiv {
    width: 50%;
    min-height: 100vh;
  }

  .formdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
